<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

<!-- 	<test thread-count="5" name="CSVloginAndroid" >	 -->
<!-- 		<classes> -->
<!-- 			<class name="automationAssignment.CSVloginAndroid"/> -->
<!-- 		</classes> -->
<!-- 	</test> Test -->
	
<!-- 	<test thread-count="5" name="CSVloginIOS" >	 -->
<!-- 		<classes> -->
<!-- 			<class name="automationAssignment.CSVloginIOS"/> -->
<!-- 		</classes> -->
<!-- 	</test> Test -->
	
	<test thread-count="5" name="timerTEst" >	
		<parameter name="timeInMillis" value="60000"/>
		<parameter name="timerON" value="true"/>
		<classes>
			<class name="automationAssignment.timerTEst"/>
		</classes>
	</test> <!-- Test -->
	
</suite> <!-- Suite -->
