<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="10">

<!-- 	<test thread-count="5" name="CSVloginAndroid"> -->
<!-- 		<parameter name="timeInMillis" value="60000" /> -->
<!-- 		<parameter name="timerON" value="false" /> -->
<!-- 		<parameter name="threadsCount" value="5" /> -->
<!-- 		<classes> -->
<!-- 			<class name="automationAssignment.CSVloginAndroid" /> -->
<!-- 		</classes> -->
<!-- 	</test> -->

<!-- 	<test thread-count="5" name="CSVloginIOS"> -->
<!-- 		<parameter name="timeInMillis" value="60000" /> -->
<!-- 		<parameter name="timerON" value="false" /> -->
<!-- 		<parameter name="threadsCount" value="5" /> -->
<!-- 		<classes> -->
<!-- 			<class name="automationAssignment.CSVloginIOS" /> -->
<!-- 		</classes> -->
<!-- 	</test> -->

	<test thread-count="5" name="TestingClass">
		<parameter name="timeInMillis" value="60000" />
		<parameter name="timerON" value="false" />
		<parameter name="threadsCount" value="3" />
		<classes>
			<class name="automationAssignment.TestingClass" />
		</classes>
	</test>
	
	<test thread-count="5" name="testCapture">
		<parameter name="timeInMillis" value="60000" />
		<parameter name="timerON" value="false" />
		<parameter name="threadsCount" value="3" />
		<classes>
			<class name="automationAssignment.testCapture" />
		</classes>
	</test>

<!-- 	<test thread-count="5" name="CNN_a"> -->
<!-- 		<parameter name="timeInMillis" value="60000" /> -->
<!-- 		<parameter name="timerON" value="false" /> -->
<!-- 		<parameter name="threadsCount" value="5" /> -->
<!-- 		<classes> -->
<!-- 			<class name="automationAssignment.CNNa" /> -->
<!-- 		</classes> -->
<!-- 	</test> -->

<!-- 	<test thread-count="5" name="CNN_a1"> -->
<!-- 		<parameter name="timeInMillis" value="60000" /> -->
<!-- 		<parameter name="timerON" value="false" /> -->
<!-- 		<parameter name="threadsCount" value="5" /> -->
<!-- 		<classes> -->
<!-- 			<class name="automationAssignment.CNNa" /> -->
<!-- 		</classes> -->
<!-- 	</test> -->

<!-- 	<test thread-count="5" name="CNN_a_IOS"> -->
<!-- 		<parameter name="timeInMillis" value="60000" /> -->
<!-- 		<parameter name="timerON" value="false" /> -->
<!-- 		<parameter name="threadsCount" value="5" /> -->
<!-- 		<classes> -->
<!-- 			<class name="automationAssignment.CNNaIOS" /> -->
<!-- 		</classes> -->
<!-- 	</test> -->

</suite>
